<h1>New Vehicle</h1>
{{ vehicle | json }}
<form #f="ngForm" (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label for="make">Make</label>
    <select
      id="make"
      name="makeId"
      class="form-control"
      (change)="handleChange()"
      [(ngModel)]="vehicle.makeId"
      required
      #make="ngModel"
    >
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">
      Make is required
    </div>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select
      id="model"
      name="modelId"
      class="form-control"
      [(ngModel)]="vehicle.modelId"
      required
      #model="ngModel"
    >
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">
      Model is required
    </div>
  </div>
  <p>Is registered?</p>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="isRegistered"
      id="registered"
      [value]="true"
      [(ngModel)]="vehicle.isRegistered"
    />
    <label class="form-check-label" for="registered">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="isRegistered"
      id="notRegistered"
      [value]="false"
      [(ngModel)]="vehicle.isRegistered"
    />
    <label class="form-check-label" for="notRegistered">No</label>
  </div>
  <h2>Features</h2>
  <div class="form-check" *ngFor="let feature of features">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="Feature{{ feature.id }}"
      [checked]="vehicle.features.includes(feature.id)"
      (change)="toggleFeature(feature.id, $event)"
    />
    <label class="form-check-label" for="Feature{{ feature.id }}">
      {{ feature.name }}
    </label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input
      type="text"
      class="form-control"
      id="contactName"
      name="contactName"
      [(ngModel)]="vehicle.contact.name"
      required
      #contactName="ngModel"
    />
    <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">
      Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input
      type="text"
      class="form-control"
      id="contactPhone"
      name="contactPhone"
      [(ngModel)]="vehicle.contact.phone"
      required
      #contactPhone="ngModel"
    />
    <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">
      Model is required
    </div>
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input
      type="email"
      class="form-control"
      id="contactEmail"
      name="contactEmail"
      [(ngModel)]="vehicle.contact.email"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  <button *ngIf="vehicle.id" type="button" class="btn btn-danger" (click)="handleDelete()">Delete</button>
</form>
