<h1>List of vehicles</h1>
<div class="card bg-light">

  <div class="card-body form-group">
    <label for="make">Make</label>
    <select
      id="make"
      name="makeId"
      class="form-control"
      (change)="handleChangeFilter()"
      [(ngModel)]="query.makeId"
    >
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <button class="btn btn-primary" (click)="resetFilter()">Reset</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let c of columns">
        <div *ngIf="c.isSortable" (click)="sortVehicles(c.key)" style="cursor: pointer;">
          {{ c.title }}
          <span class="fa" *ngIf="c.key == query.sortBy"
            [class.fa-sort-up]="query.isSortAscending"
            [class.fa-sort-down]="!query.isSortAscending"
          >
        </span>
        </div>
        <div *ngIf="!c.isSortable">
          {{ c.title }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of queryResult.items">
      <th scope="row">{{v.id}}</th>
      <td>{{v.make.name}}</td>
      <td>{{v.model.name}}</td>
      <td>{{v.contact.name}}</td>
        <td><a [routerLink]="['/vehicle/' + v.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
<app-pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="handlePageChange($event)"></app-pagination>
